<label class="input-group">
    <span>
        {{ 'initbiz.leafletpro::lang.components.pick_localization.longitude'|trans }}
    </span>
    <input class="input-field"
           id="longitude"
           name="longitude"
    />
</label>
<label class="input-group">
    <span>
        {{ 'initbiz.leafletpro::lang.components.pick_localization.latitude'|trans }}
    </span>
    <input class="input-field"
           id="latitude"
           name="latitude"
    />
</label>
<div class="lg:col-span-2 flex justify-end">
    <button type="button" class="btn btn-secondary find-localization-button">{{ 'initbiz.leafletpro::lang.components.pick_localization.find_localization'|trans }}</button>
</div>

<div id="pick-localization-container" class="leaflet-map rounded-2xl border border-primary drop-shadow-tertiary-lg lg:col-span-2"></div>

{% put scripts %}
<script>
    var leafletContainer = 'pick-localization-container';
    var map = L.map(leafletContainer).setView([$('#latitude').val(), $('#longitude').val()], 16);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: ' &copy; <a href="https://openstreetmap.org">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://mapbox.com">Mapbox</a> ',
        maxZoom: 18
    }).addTo(map);

    map.once('focus', function () {
        map.scrollWheelZoom.enable();
    });

    $(leafletContainer).css('cursor','crosshair');

    let layerGroup = L.layerGroup();

    function markersMap (coords) {
        if (map.hasLayer(layerGroup)) {
            layerGroup.clearLayers();
        }

        var marker = L.marker(coords);
        layerGroup.addLayer(marker);
        map.addLayer(layerGroup);
    }

    markersMap([$('#latitude').val(), $('#longitude').val()])

    $('.find-localization-button').on('click', function() {
        let lng = $('#longitude').val()
        let lat = $('#latitude').val()
        markersMap([lat, lng])
    });

    map.on('click', function(e) {
        $('#longitude').val(e.latlng.lng)
        $('#latitude').val(e.latlng.lat)
        markersMap([e.latlng.lat, e.latlng.lng])

    });
</script>
{% endput %}

{% put styles %}
<style>
    .leaflet-map {
        min-height: 400px;
    }
    .leaflet-grab {
        cursor: crosshair;
    }
    .leaflet-dragging .leaflet-grab{
        cursor: move;
    }
</style>
{% endput %}