!assets/node_modules
assets/node_modules/*
!assets/node_modules/leaflet
assets/node_modules/leaflet/*
!assets/node_modules/leaflet/dist
assets/node_modules/leaflet/dist/*
!assets/node_modules/leaflet/dist/images
!assets/node_modules/leaflet/dist/images/*
!assets/node_modules/leaflet/dist/leaflet.css
!assets/node_modules/leaflet/dist/leaflet.js
# Plugins for leaflet
!assets/node_modules/leaflet.markercluster
assets/node_modules/leaflet.markercluster/*
!assets/node_modules/leaflet.markercluster/dist
assets/node_modules/leaflet.markercluster/dist/*
!assets/node_modules/leaflet.markercluster/dist/MarkerCluster.css
!assets/node_modules/leaflet.markercluster/dist/leaflet.markercluster.js
!assets/node_modules/leaflet.tilelayer.colorfilter
assets/node_modules/leaflet.tilelayer.colorfilter/*
!assets/node_modules/leaflet.tilelayer.colorfilter/src
assets/node_modules/leaflet.tilelayer.colorfilter/src/*
!assets/node_modules/leaflet.tilelayer.colorfilter/src/leaflet-tilelayer-colorfilter.js