/vendor/
.idea/
.gitattributes
.DS_Store
/index.php
/.editorconfig
/server.php
composer.lock
composer.phar
php_errors.log
nginx-error.log
nginx-access.log
nginx-ssl.access.log
nginx-ssl.error.log
php-errors.log
sftp-config.json
nbproject
!assets/node_modules
assets/node_modules/*
!assets/node_modules/leaflet
assets/node_modules/leaflet/*
!assets/node_modules/leaflet/dist/
assets/node_modules/leaflet/dist/*
!assets/node_modules/leaflet/dist/leaflet.js
!assets/node_modules/leaflet/dist/leaflet.css
!assets/node_modules/leaflet/dist/images
!assets/node_modules/leaflet/dist/images/*
# Plugins for leaflet
!assets/node_modules/leaflet.markercluster
assets/node_modules/leaflet.markercluster/*
!assets/node_modules/leaflet.markercluster/dist
!assets/node_modules/leaflet.markercluster/dist/leaflet.markercluster.js
!assets/node_modules/leaflet.markercluster/dist/MarkeCluster.css
!assets/node_modules/leaflet.tilelayer.colorfilter
assets/node_modules/leaflet.tilelayer.colorfilter/*
!assets/node_modules/leaflet.tilelayer.colorfilter/src
!assets/node_modules/leaflet.tilelayer.colorfilter/src/leaflet-tilelayer-colorfilter.js
