{% put scripts %}
<script>
    var {{ mapVar }} = L.map('{{ __SELF__ ~ '-container' }}').setView([{{ __SELF__.centerLonLat }}], {{ __SELF__.initialZoom }});

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '{% partial __SELF__ ~ "::attribution" %}',
        maxZoom: 18
    }).addTo({{ mapVar }});

    {{ mapVar }}.scrollWheelZoom.{{ __SELF__.scrollProtection }}();

    {{ mapVar }}.once('focus', function () {
        {{ mapVar }}.scrollWheelZoom.enable();
    });
</script>
{% endput %}