{% put scripts %}
<script>
    var leafletContainer = '{{ __SELF__ ~ "-container" }}';
    var {{ mapVar }} = L.map(leafletContainer).setView([{{ __SELF__.centerLatLon }}], {{ __SELF__.initialZoom }});

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '{% partial __SELF__ ~ "::attribution" %}',
        maxZoom: 18
    }).addTo({{ mapVar }});

    {{ mapVar }}.scrollWheelZoom.{{ __SELF__.scrollProtection }}();

    {{ mapVar }}.once('focus', function () {
        {{ mapVar }}.scrollWheelZoom.enable();
    });

    $('.leaflet-map-reset').on("click", function(){
        {{ mapVar }}.setView(new L.LatLng({{ __SELF__.centerLatLon }}), {{ __SELF__.initialZoom }});
    })
</script>
{% endput %}
