<div id="{{ __SELF__ ~ '-container' }}" class="leaflet-map">
    <button type="button" class="leaflet-map-reset">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
        </svg>
    </button>
</div>

{% partial __SELF__ ~ '::map-script' %}

{% put styles %}
<style>
    .leaflet-map {
        min-height: 800px;
        min-width: 800px;
    }
    .leaflet-map-reset {
        position: absolute;
        bottom: 1.25rem;
        z-index: 99999;
        margin-left: .5rem;
        padding: .25rem;
        background-color: #ffffff;
        border: 2px solid #cccccc;
        border-radius: .375rem;
        color: #000000;
    }
    .leaflet-map-reset:hover {
        background-color: #f4f4f4;
    }
</style>
{% endput %}
