{% put scripts %}
<script>
    {% if __SELF__.getMarkerIconUrl() %}
    let defaultIcon = L.icon({
        iconUrl: '{{ __SELF__.getMarkerIconUrl() }}',
        iconSize: [40, 40],
    });
    L.Marker.prototype.options.icon = defaultIcon;

    {% if 'markercluster' in plugins %}
    var markers = L.markerClusterGroup();
    {% else %}
    var markers = L.featureGroup();
    {% endif %}

    {% for marker in __SELF__.markers %}
    {% set popupContent = marker.popup_content|replace({"\n": " ","\r": " ",  "\t": " "}) %}
    markers.addLayer(L.marker([{{ marker.lat }}, {{ marker.lon }}]).bindPopup('{{ popupContent|raw }}'));
    {% endfor %}

    {{ mapVar }}.addLayer(markers)
</script>
{% endif %}
{% endput %}
