
{% put scripts %}
    {% if 'markercluster' in plugins %}
    {#

        <script>
            var markers = L.markerClusterGroup();
            markers.addLayer(L.marker)
            {% for marker in markers %}
        	  	var marker = L.marker([{{ marker.lat }}, {{ marker.lon }}]).addTo({{ mapVar }});
        		marker.bindPopup("{{ marker.name }}");
            {% endfor %}
        </script>

    #}
    {% else %}
        <script>
            {% if __SELF__.getMarkerIconUrl() %}
                let DefaultIcon = L.icon({
                    iconUrl: '{{ __SELF__.getMarkerIconUrl() }}',
                    iconSize: [40,40],
                });
                L.Marker.prototype.options.icon = DefaultIcon;
            {% endif %}

            {% for marker in __SELF__.markers %}
                  L.marker([{{ marker.lat }}, {{ marker.lon }}])
                   .addTo({{ mapVar }})
                   .bindPopup('{{ marker.popup_content |replace({"\n": " ","\r": " ",  "\t": " "}) | raw }}');
            {% endfor %}
        </script>
    {% endif %}
{% endput %}
